%h1 Bienvenidos
%p Este es un sitio web pensado para facilitar que los emprendedores accedan a la información que necesitan sobre distintos procesos, de una forma rápida y eficiente.
%p Para comenzar, inicia sesión. Si no tienes cuenta, regístrate.
